---
import Layout from "@layouts/Layout.astro";
import DeviceList from "@components/DeviceList.astro";
---

<Layout title="Welcome to MobileDB!">
  <div class="flex flex-col gap-8">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Welcome to MobileDB!</h1>
        <p class="py-6">
          MobileDB is a database that provides information about various devices
          in a friendly user interface. Make sure to check our API as well!
        </p>
      </div>
    </div>
    <DeviceList />
  </div>
</Layout>
