---
export const prerender = false;

import { parse } from "yaml";

const url =
  "https://raw.githubusercontent.com/teqcorp/mobiledb_database/main/devices.yml";
const response = await fetch(url);
const devices = parse(await response.text());

let lastThreeDevices = [];
let i = 0;

for (const oem in devices) {
  for (const device in devices[oem]) {
    lastThreeDevices.push([oem, devices[oem][device]]);
    i++;
    if (i == 3) {
      break;
    }
  }
}

console.log(lastThreeDevices);

let isLoaded = false;
---

<div class="flex flex-col gap-4">
  <p class="ml-1">Pick a device from the list or search for it above</p>
  <div
    class="grid grid-cols-1 grid-rows-3 sm:grid-cols-3 sm:grid-rows-1 gap-4 min-h-4"
  >
    {
      isLoaded ? (
        <>
          <div class="skeleton h-[92px]" />
          <div class="skeleton" />
          <div class="skeleton" />
        </>
      ) : null
    }
    {
      lastThreeDevices.map(([oem, device]) => {
        isLoaded = true;
        return (
          <a class="card bg-base-200" href={`/${oem}/${device}`}>
            <div class="card-body">
              <span class="card-title">{oem}</span>
              <span>{device}</span>
            </div>
          </a>
        );
      })
    }
  </div>
</div>
