---

---

<div class="p-2">
  <footer
    class="footer footer-center p-4 bg-base-300 text-base-content rounded-xl"
  >
    <aside>
      <p>Copyright &copy; 2024 - MobileDB, teqCorp.</p>
    </aside>
  </footer>
</div>
