---
export const prerender = false;

import { getData } from "@lib/database";

const data = await getData();

let devices = [];

for (const oem in data) {
  for (const device in data[oem]) {
    devices.push([oem, device, data[oem][device]]);
  }
}
---

<div class="flex flex-col gap-4">
  <div class="form-control">
    <input
      id="searchbar"
      type="text"
      placeholder="Search"
      class="input input-bordered w-24 md:w-auto"
    />
    <div
      id="search-result"
      class="flex hidden flex-col gap-2 absolute bg-base-300 top-20 w-[14.5rem]"
    >
      {
        devices.map(([oem, codename, device]) => {
          return (
            <a
              class="px-4 py-2 hover:bg-base-100 transition-colors hover:cursor-pointer"
              href={`/${oem.toLowerCase()}/${codename}`}
            >
              <span>
                {oem} {device}
              </span>
            </a>
          );
        })
      }
    </div>
  </div>
</div>
<script>
  const searchResult = document.querySelector("#search-result") as HTMLElement;
  const searchBar = document.querySelector("#searchbar") as HTMLElement;
  searchBar.addEventListener("focus", (e) => {
    searchResult.style.display = "flex";
  });
  searchBar.addEventListener("focusout", (e) => {
    setTimeout(() => {
      searchResult.style.display = "none";
    }, 100);
  });
</script>
